# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor dirs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Cloudflare Wrangler
.wrangler/

